
@font-face {
    font-family: 'IMEnglish';
    src: url('fonts/feenrm2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IMEnglish';
    src: url('fonts/feenit2.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'IMEnglish';
    src: url('fonts/feensc2.ttf') format('truetype');
    font-weight: 500;
    font-style: bold;
}
