@layer base {
    @font-face {
        font-family: 'IMEnglish';
        src: url('fonts/feenrm2.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'IMEnglish';
        src: url('fonts/feenit2.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
    }
    @font-face {
        font-family: 'IMEnglish';
        src: url('fonts/feensc2.woff2') format('woff2');
        font-weight: 500;
        font-style: bold;
    }
}
