.hero {
    width: 100%;
    height: 900px;
    margin: 0px;
    padding: 0;
    opacity: 1;
}

.map {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.background {
    width: 100%;
    height: 900px;
    margin: 0;
    background-image: url('../../media/Mapa-atlas-2560.jpg');
    background-position: 44% 40%;
    background-size: 180%;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px
}

.name-text {
    display: block;
    padding: 0;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.name-text h1 {
    margin: 0px;
    padding: 0px;
    font-size: 148px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 50%;
}
.name-text h2 {
    margin: 0px;
    margin-top: -6%;
    padding: 0;
    font-size: 66px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.questionary-entry {
    display: grid;
    width: 250px;
    row-gap: 20px;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0, -50%);
}